rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      function isOwner() {
        return request.auth.uid == userId;
      }

      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated() && isOwner();
      allow delete: if isAuthenticated() && isOwner();
    }

    match /latest_exams/{cpf} {
      allow read: if true;
      allow write: if true;
    }

    match /aggregations/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /exam_uids/{uid} {
      allow read, write: if true;
    }

    match /questions/{questionId} {
      allow read, write: if true;
    }
  }
}
