rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /config/{docId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /users/{userId} {
      function isOwner() {
        return request.auth.uid == userId;
      }

      allow read: if isAuthenticated();
      allow create: if isAuthenticated()
        && !request.resource.data.hasAny(['isAdmin']);
      allow update: if isAuthenticated() && isOwner()
        && !request.resource.data.isAdmin;
      allow delete: if isAuthenticated() && isOwner();
    }

    match /latest_exams/{cpf} {
      allow read: if true;
      allow create: if true
        && request.resource.data.keys().hasAll([
          'uid', 'name', 'cpf', 'status', 'score',
          'percentage', 'answers', 'createdAt'
        ])
        && request.resource.data.answers is list
        && request.resource.data.score is number
        && request.resource.data.percentage is number;
      allow update: if true;
      allow delete: if false;
    }

    match /aggregations/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /exam_uids/{uid} {
      allow read: if true;
      allow write: if true;
    }

    match /questions/{questionId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
